@{
    ViewData["Title"] = "Resources";
}
<div class="main-container">
    <div class="cloud-image">
        <img src="~/images/devslop_high.png" />
    </div>
    <div class="content">
        <div class="content-body">
            <div class="success-text">OWASP DevSlop Learning Resources</div>
            <div class="description line-2"> Learn DevSecOps with us!</div>
        </div>
    </div>
</div>
<h2>Resources created by the DevSlop Team</h2>
<br><br>The DevSlop Show: <strong><a href="https://aka.ms/DevSlopShow">YouTube</a></strong>. <br>
<strong>Twitter:</strong> <a href="https://twitter.com/Owasp_DevSlop">Twitter</a><br />
<strong>Meetup:</strong> <a href="https://www.meetup.com/OWASP-DevSlop-Project/">Meetup.com</a><br />
<strong>Mixer:</strong> <a href="https://aka.ms/DevSlop-Mixer">Mixer</a><br />
<strong>Twitch:</strong> <a href="https://aka.ms/DevSlopTwitch">Twitch</a><br />

<h2>Code</h2>
<strong>GitHub:</strong> ><a href="https://github.com/DevSlop/">DevSlop Project</a><br />